html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  color: #fff;
  text-align: center;
  display: block;
  background-image:  url('../img//world1.jpg');
  margin-top: -28%;
  margin-bottom: 0.5%;
  background-position: 100%;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align:left;
  margin-top: 30%;
  
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding:10px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration:none;
  font-size: 15px;
  font-weight: bolder;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 3px;
  background: #3085C3;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.title {
  font-family: Montagu Slab;
  font-size: 350%;
  margin-top: -3%;
  text-align: center;
}

#searchtxt{
  padding: 9px 20px;
  margin: 10px;
  border-radius: 5px;
}

#searchbtn {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.headers {
  font-family: Montagu Slab;
  text-align: center;
  color: #fff;
  font-size: 42px;
}

#timezones{
  color: #fff;
  font-size: 23px;
  font-family: Montagu Slab;
}

#continents{
  color: #fff;
  font-size: 23px;
  font-family: Montagu Slab;
}

#commonName {
  color: #fff;
  font-size: 23px;
  font-family: Montagu Slab;
}

#officialName {
  color: #fff;
  font-size: 23px;
  font-family: Montagu Slab;
}

#capital {
  color: #fff;
  font-size: 23px;
  font-family: Montagu Slab;
}

#region {
  color: #fff;
  font-size: 23px;
  font-family: Montagu Slab;
}

#languages {
  color: #fff;
  font-size: 23px;
  font-family: Montagu Slab;
}

#area {
  color: #fff;
  font-size: 23px;
  font-family: Montagu Slab;
}

#population {
  color: #fff;
  font-size: 23px;
  font-family: Montagu Slab;
}

#flags {
  color: #fff;
  font-size: 23px;
  font-family: Montagu Slab;
}

#current-location {
  padding: 100px;
  display: block;
  width: 100vw;
  background-position: 20% -130%;
  background-image:  linear-gradient(rgba(11, 11, 11, 0.7), rgba(11, 15, 30, 0.7)),url('../img/world1.jpg');
}